@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Knewave&display=swap');
.navbar {
    background-color: #18181A;
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Antic Didone', serif;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: #ebe8de;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.navbar-toggle {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #f7e7ce;
    cursor: pointer;
}

.navbarlinks {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    left: 1rem;
    background: #18181A;
    padding: 1rem;
    border-radius: 8px;
}

.navbarlinks.active {
    display: flex;
}

.navbarlinks li {
    margin: 0.3rem 0;
}

.navbarlinks li a {
    color:#ebe8de;
    text-decoration: none;
    padding: 0.5rem 0;
    transition: color 0.3s ease;
}

.navbarlinks li a:hover {
    color: #f7e7ce;
}

.navbar-center a{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #ebe8de;
}

.navbar-auth {
    display: flex;
    gap: 0.5rem;
}

.navbar-auth .loginbtn, .navbar-auth .signupbtn {
    padding: 0.4rem 0.8rem;
    border: 1px solid #f7e7ce;
    background: transparent;
    color: #f7e7ce;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}


.navbar-auth .loginbtn:hover, 
.navbar-auth .signupbtn:hover {
    background-color: #f7e7ce;
    color: #18181A;
}

a:link, a:visited, a:active {
    color: inherit;
}