html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Antic Didone', serif;
  background-color: #fefbea;
}

main {
  flex: 1;
  padding: 2rem;
  text-align: left;
}